<div class="ph4">
  <h1>Questions</h1>
  <ul class="list pl0 cf">
    <li class="headers h2 b cf">
      <div class="fl w-10">Time Asked</div>
      <div class="fl w-10">Type</div>
      <div class="fl w-10">GH Username</div>
      <div class="fl w-10">Asker Name</div>
      <div class="fl w-20">Asker Email</div>
      <div class="fl w-10">Learn Expert</div>
      <div class="fl w-10">SS Start</div>
      <div class="fl-w-10">SS Finish</div>
    </li>
  <% @questions.each do |question| %>
    <li class="question-<%= question.id %> cf bb b--light-gray pt1">
      <div class="fl h2 pv1 w-10 time-asked">
        <%= link_to question.time_asked.strftime('%h %d, %H:%M'), question.question_link %>
      </div>
      <div class="fl h2 pv1 w-10 question-type f6">
        <%= form_tag question_path(question), method: 'put', remote: true, class: 'edit_question_type' do %>
          <% select("question", "question_type", question.type_options.collect {|o| [ o, o ] }, {selected: question.question_type, include_blank: true})%>
        <% end %>
      </div>
      <div class="fl h2 pv1 w-10 github-username">
        <%= question.github_username || '..' %>
      </div>
      <div class="fl h2 pv1 w-10 asker-name">
        <%= question.asker_name || '..' %>
      </div>
      <div class="fl h2 pv1 w-20 asker-email">
        <%= question.email || '..' %>
      </div>
      <div class="fl h2 w-10 learn-expert f6">
        <%= form_tag question_path(question), method: 'put', remote: true, class: 'edit-learn-expert-form pr2' do %>
          <%= text_field_tag 'question[learn_expert]', question.learn_expert, class: 'w-100 h2' %>
        <% end %>
        
      </div>
      <div class="fl h2 w-10 screen-share-start f6">
        <% if question.start_share %>
          <%= render partial: 'questions/start_screenshare_form', locals: { question: question, has_started: true } %>
        <% else %>
          <%= render partial: 'questions/start_screenshare_form', locals: { question: question, has_started: false } %>
        <% end %>
      </div>
      <div class="fl h2 w-10 screen-share-finish f6">
        <% if question.end_share %>
          <%= render partial: 'questions/finish_screenshare_form', locals: { question: question, has_finished: true } %>
        <% else %>
          <%= render partial: 'questions/finish_screenshare_form', locals: { question: question, has_finished: false } %>
        <% end %>
      </div>
      <div class="fl h2 w-10 actions">
        <%= link_to 'Edit', edit_question_path(question), remote: true %>
      </div>
    </li>
  <% end %>
  </ul>
</div>